# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/.gitignore
/ios/.gitignore
/linux/.gitignore
/macos/.gitignore
/windows/.gitignore
/android/app/src/debug/AndroidManifest.xml
/android/app/src/main/AndroidManifest.xml
/android/app/src/profile/AndroidManifest.xml
/windows/runner/resources/app_icon.ico
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/ios/Runner/AppDelegate.swift
/macos/Runner/AppDelegate.swift
/ios/Flutter/AppFrameworkInfo.plist
/macos/Runner/Configs/AppInfo.xcconfig
/android/app/build.gradle
/android/build.gradle
/linux/flutter/CMakeLists.txt
/linux/CMakeLists.txt
/windows/flutter/CMakeLists.txt
/windows/runner/CMakeLists.txt
/windows/CMakeLists.txt
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/contents.xcworkspacedata
/macos/Runner.xcworkspace/contents.xcworkspacedata
/ios/Flutter/Debug.xcconfig
/macos/Runner/Configs/Debug.xcconfig
/macos/Runner/DebugProfile.entitlements
/web/favicon.png
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/windows/runner/flutter_window.cpp
/windows/runner/flutter_window.h
/linux/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake
/windows/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift
/android/gradle.properties
/android/gradle/wrapper/gradle-wrapper.properties
/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/web/icons/Icon-192.png
/web/icons/Icon-512.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/web/icons/Icon-maskable-192.png
/web/icons/Icon-maskable-512.png
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/web/index.html
/ios/Runner/Info.plist
/macos/Runner/Info.plist
/android/app/src/main/res/drawable/launch_background.xml
/android/app/src/main/res/drawable-v21/launch_background.xml
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/ios/Runner/Base.lproj/LaunchScreen.storyboard
/linux/main.cc
/windows/runner/main.cpp
/ios/Runner/Base.lproj/Main.storyboard
/android/app/src/main/kotlin/com/example/command_app_frontend/MainActivity.kt
/macos/Runner/MainFlutterWindow.swift
/macos/Runner/Base.lproj/MainMenu.xib
/web/manifest.json
/linux/my_application.cc
/linux/my_application.h
/ios/Runner.xcodeproj/project.pbxproj
/macos/Runner.xcodeproj/project.pbxproj
/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/macos/Runner/Release.entitlements
/ios/Flutter/Release.xcconfig
/macos/Runner/Configs/Release.xcconfig
/windows/runner/resource.h
/windows/runner/runner.exe.manifest
/windows/runner/Runner.rc
/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/ios/Runner/Runner-Bridging-Header.h
/android/settings.gradle
/android/app/src/main/res/values/styles.xml
/android/app/src/main/res/values-night/styles.xml
/windows/runner/utils.cpp
/windows/runner/utils.h
/macos/Runner/Configs/Warnings.xcconfig
/test/widget_test.dart
/windows/runner/win32_window.cpp
/windows/runner/win32_window.h
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/cliente/android/.gitignore
/cliente/ios/.gitignore
/cliente/linux/.gitignore
/cliente/macos/.gitignore
/cliente/windows/.gitignore
/gestore/android/.gitignore
/gestore/ios/.gitignore
/gestore/linux/.gitignore
/gestore/macos/.gitignore
/gestore/windows/.gitignore
/gestore/.gitignore
/cliente/.metadata
/gestore/.metadata
/gestore/analysis_options.yaml
/cliente/android/app/src/debug/AndroidManifest.xml
/cliente/android/app/src/main/AndroidManifest.xml
/cliente/android/app/src/profile/AndroidManifest.xml
/gestore/android/app/src/debug/AndroidManifest.xml
/gestore/android/app/src/main/AndroidManifest.xml
/gestore/android/app/src/profile/AndroidManifest.xml
/cliente/windows/runner/resources/app_icon.ico
/gestore/windows/runner/resources/app_icon.ico
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/cliente/ios/Runner/AppDelegate.swift
/cliente/macos/Runner/AppDelegate.swift
/gestore/ios/Runner/AppDelegate.swift
/gestore/macos/Runner/AppDelegate.swift
/cliente/ios/Flutter/AppFrameworkInfo.plist
/gestore/ios/Flutter/AppFrameworkInfo.plist
/cliente/macos/Runner/Configs/AppInfo.xcconfig
/gestore/macos/Runner/Configs/AppInfo.xcconfig
/cliente/android/app/build.gradle
/cliente/android/build.gradle
/gestore/android/app/build.gradle
/gestore/android/build.gradle
/cliente/linux/flutter/CMakeLists.txt
/cliente/linux/CMakeLists.txt
/cliente/windows/flutter/CMakeLists.txt
/cliente/windows/runner/CMakeLists.txt
/cliente/windows/CMakeLists.txt
/gestore/linux/flutter/CMakeLists.txt
/gestore/linux/CMakeLists.txt
/gestore/windows/flutter/CMakeLists.txt
/gestore/windows/runner/CMakeLists.txt
/gestore/windows/CMakeLists.txt
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/cliente/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/gestore/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/cliente/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/cliente/ios/Runner.xcworkspace/contents.xcworkspacedata
/cliente/macos/Runner.xcworkspace/contents.xcworkspacedata
/gestore/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/gestore/ios/Runner.xcworkspace/contents.xcworkspacedata
/gestore/macos/Runner.xcworkspace/contents.xcworkspacedata
/cliente/ios/Flutter/Debug.xcconfig
/cliente/macos/Runner/Configs/Debug.xcconfig
/gestore/ios/Flutter/Debug.xcconfig
/gestore/macos/Runner/Configs/Debug.xcconfig
/cliente/macos/Runner/DebugProfile.entitlements
/gestore/macos/Runner/DebugProfile.entitlements
/cliente/web/favicon.png
/gestore/web/favicon.png
/cliente/macos/Flutter/Flutter-Debug.xcconfig
/gestore/macos/Flutter/Flutter-Debug.xcconfig
/cliente/macos/Flutter/Flutter-Release.xcconfig
/gestore/macos/Flutter/Flutter-Release.xcconfig
/cliente/windows/runner/flutter_window.cpp
/gestore/windows/runner/flutter_window.cpp
/cliente/windows/runner/flutter_window.h
/gestore/windows/runner/flutter_window.h
/cliente/linux/flutter/generated_plugin_registrant.cc
/cliente/windows/flutter/generated_plugin_registrant.cc
/gestore/linux/flutter/generated_plugin_registrant.cc
/gestore/windows/flutter/generated_plugin_registrant.cc
/cliente/linux/flutter/generated_plugin_registrant.h
/cliente/windows/flutter/generated_plugin_registrant.h
/gestore/linux/flutter/generated_plugin_registrant.h
/gestore/windows/flutter/generated_plugin_registrant.h
/cliente/linux/flutter/generated_plugins.cmake
/cliente/windows/flutter/generated_plugins.cmake
/gestore/linux/flutter/generated_plugins.cmake
/gestore/windows/flutter/generated_plugins.cmake
/cliente/macos/Flutter/GeneratedPluginRegistrant.swift
/gestore/macos/Flutter/GeneratedPluginRegistrant.swift
/cliente/android/gradle.properties
/gestore/android/gradle.properties
/cliente/android/gradle/wrapper/gradle-wrapper.properties
/gestore/android/gradle/wrapper/gradle-wrapper.properties
/cliente/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/cliente/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/cliente/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/cliente/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/cliente/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/gestore/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/gestore/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/gestore/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/gestore/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/gestore/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/cliente/web/icons/Icon-192.png
/gestore/web/icons/Icon-192.png
/cliente/web/icons/Icon-512.png
/gestore/web/icons/Icon-512.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/cliente/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/gestore/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/cliente/web/icons/Icon-maskable-192.png
/gestore/web/icons/Icon-maskable-192.png
/cliente/web/icons/Icon-maskable-512.png
/gestore/web/icons/Icon-maskable-512.png
/cliente/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/cliente/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/cliente/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/cliente/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/gestore/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/gestore/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/gestore/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/gestore/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/cliente/web/index.html
/gestore/web/index.html
/cliente/ios/Runner/Info.plist
/cliente/macos/Runner/Info.plist
/gestore/ios/Runner/Info.plist
/gestore/macos/Runner/Info.plist
/cliente/android/app/src/main/res/drawable/launch_background.xml
/cliente/android/app/src/main/res/drawable-v21/launch_background.xml
/gestore/android/app/src/main/res/drawable/launch_background.xml
/gestore/android/app/src/main/res/drawable-v21/launch_background.xml
/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/cliente/ios/Runner/Base.lproj/LaunchScreen.storyboard
/gestore/ios/Runner/Base.lproj/LaunchScreen.storyboard
/cliente/linux/main.cc
/gestore/linux/main.cc
/cliente/windows/runner/main.cpp
/gestore/windows/runner/main.cpp
/cliente/ios/Runner/Base.lproj/Main.storyboard
/gestore/ios/Runner/Base.lproj/Main.storyboard
/cliente/android/app/src/main/kotlin/com/example/cliente/MainActivity.kt
/gestore/android/app/src/main/kotlin/com/example/gestore/MainActivity.kt
/cliente/macos/Runner/MainFlutterWindow.swift
/gestore/macos/Runner/MainFlutterWindow.swift
/cliente/macos/Runner/Base.lproj/MainMenu.xib
/gestore/macos/Runner/Base.lproj/MainMenu.xib
/cliente/web/manifest.json
/gestore/web/manifest.json
/cliente/linux/my_application.cc
/gestore/linux/my_application.cc
/cliente/linux/my_application.h
/gestore/linux/my_application.h
/cliente/ios/Runner.xcodeproj/project.pbxproj
/cliente/macos/Runner.xcodeproj/project.pbxproj
/gestore/ios/Runner.xcodeproj/project.pbxproj
/gestore/macos/Runner.xcodeproj/project.pbxproj
/cliente/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/gestore/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/gestore/README.md
/cliente/macos/Runner/Release.entitlements
/gestore/macos/Runner/Release.entitlements
/cliente/ios/Flutter/Release.xcconfig
/cliente/macos/Runner/Configs/Release.xcconfig
/gestore/ios/Flutter/Release.xcconfig
/gestore/macos/Runner/Configs/Release.xcconfig
/cliente/windows/runner/resource.h
/gestore/windows/runner/resource.h
/cliente/windows/runner/runner.exe.manifest
/gestore/windows/runner/runner.exe.manifest
/cliente/windows/runner/Runner.rc
/gestore/windows/runner/Runner.rc
/cliente/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/cliente/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/gestore/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/gestore/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/cliente/ios/Runner/Runner-Bridging-Header.h
/gestore/ios/Runner/Runner-Bridging-Header.h
/cliente/android/settings.gradle
/gestore/android/settings.gradle
/cliente/android/app/src/main/res/values/styles.xml
/cliente/android/app/src/main/res/values-night/styles.xml
/gestore/android/app/src/main/res/values/styles.xml
/gestore/android/app/src/main/res/values-night/styles.xml
/cliente/windows/runner/utils.cpp
/gestore/windows/runner/utils.cpp
/cliente/windows/runner/utils.h
/gestore/windows/runner/utils.h
/cliente/macos/Runner/Configs/Warnings.xcconfig
/gestore/macos/Runner/Configs/Warnings.xcconfig
/cliente/test/widget_test.dart
/gestore/test/widget_test.dart
/cliente/windows/runner/win32_window.cpp
/gestore/windows/runner/win32_window.cpp
/cliente/windows/runner/win32_window.h
/gestore/windows/runner/win32_window.h
/cliente/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/cliente/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/gestore/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/gestore/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
